@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
html, body{
  font-family: 'NanumSquare', sans-serif;
  margin:0;
  padding:0;
}
.wrap{
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.cs-body{
  width: 1024px;
  margin: 0 auto;
  padding: 60px; 0 80px;
}

*{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

.page-title{
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -.5px;
  text-align: center;
  color: #23212a;
  padding-bottom: 40px;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.cs-1depth{
  margin-bottom: 40px;
}
.cs-1depth li:first-child{
  border-radius: 8px 0 0 8px;
}
.cs-1depth li:last-child{
  border-radius: 0 8px 8px 0;
}
.cs-1depth li.customer-1depth-on{
  border-radius: 1px solid #244CBA;
  background-color: #244CBA;
  position: relative;
  z-index: 10;
}
.cs-1depth li{
  float: left;
  width: 25%;
  text-align: center;
  border:1px solid #e5e5e5;
  margin-left: -1px;
  overflow: hidden;
}
.cs-1depth li.customer-1depth-on a{
  color: #fff;
}
.cs-1depth a{
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #666;
}
.cs-1depth::after{
  content: "";
  display: block;
  clear: both;
}
a, a:link{
  text-decoration: none;
}
a{
  font-weight: 400;
}
input{
  background: transparent;
  cursor: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 13.3333px Arial;
}
button{
  margin: 0px;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  align-items: flex-start;
  text-align: center;
  word-spacing: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  font: 400 13.3333px Arial;
}
