@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
html, body{
  font-family: 'NanumSquare', sans-serif;
  margin:0;
  padding:0;
}

.header{
  width:1240px;
  margin: 0 auto;
  height: 80px;
}
.g-contents{
  border-top: 1px solid #e5e5e5;
}
div{
  display: block;
}

.header ul.header_left{
  float: left;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  display: block;
}

.header ul.header_left li:first-child{
  margin-left: 0;
}

.header ul.header_left li:last-child{
  border: 0;
  margin-right: 230px;
}


.header ul.header_left li{
  float: left;
  margin: 26px 10px 0 0;
  padding-right: 10px;
  border-right: 1px solid #e5e5e5;
}

li{
  display: list-item;
}

.header_right li a,
.header_left li a{
  font-size: 18px;
  color: #000000;
}

a, a:hover ,a:link{
  text-decoration: none;
  cursor: pointer;
}

.header ul.header_right li a:hover,
.header ul.header_left li a.on, ul.header_left li a:hover,
.header ul.header_right li a.on{
  color: #244CBA;
}

.header_left a{
  font-weight: 550;
}
.header h1{
  margin: 18px 40px 0 0;
  float: left;
}

h1{
  display: block;
  font-size: 2em;
}
.footer-logo a img,
.logo a img{
  margin-top: -5px;
  width: 89px;
  height: 47px;
}

img{
  vertical-align: middle;
  border: 0 none;
  padding: 0;
  margin: 0;
}
.myinfo{
  position: absolute;
  z-index: 1;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.myinfo li:first-child{
  margin-top: 20px;
}
.myinfo li:last-child{
  padding-bottom: 10px;
}
.myinfo ul li{
  text-align: center;
  margin-bottom: 5px;
}

.myinfo li a{
  font-size: 14px;
}
.dropdown-content{
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header ul.header_right{
  float: right;
  margin-right: 140px;
}

.header ul.header_right>li{
  float: left;
  margin: 26px 10px 0 0;
}

.before_login a{
  margin-right: 10px;
}
.before_login i{
  font-style: normal;
}
.footer-notice{
  width: 100%;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.footer-notice ul{
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 50px;
  line-height: 50px;
  z-index: 1000;
}

.footer-notice ul li{
  margin-right: 22.5px;
  float: left;
  vertical-align: middle;
}
.footer-notice ul li a.text01{
  font-size: 20px;
  color: #23212a;
  font-weight: 500;
}
.footer-notice ul li a.text02{
  font-size: 18px;
  color: #888;
  font-weight: 500;
}
footer{
  padding-top: 10px;
  padding-bottom: 15px;
  min-width: 1240px;
  background: #666;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.footer-menu{
  position: relative;
  width: 1260px;
  margin: 0 auto;
}
.footer-menu ul{
  margin: 10px 0 0;
  overflow: hidden;
}
.footer-menu li:first-child{
  margin-left: 15px;
}
.footer-menu ul li{
  float: left;
  border-right: 1px solid #ffffff;
  padding-right: 12px;
  margin-right: 12px;
}

.footer-menu ul li a{
  color: #ffffff;
  font-size: 14px;
}

.footer-menu p{
  color: #ffffff;
  font-size: 13px;
  padding: 12px 0 20px;
  display: block;
  line-height: 1.67;
  clear: both;
}

.footer-menu li:last-child{
  border-right: 0px;
}
.footer-menu p span.first{
  border-right: 1px solid #ffffff;
  margin-left: 15px;
}

.footer-menu p span{
  display: inline-block;
  padding-right: 6px;
}
.footer-menu p span.middle{
  margin-left: 15px;
}
.footer-menu p span.last{
  border: 0;
  padding: 0;
}
.lotate{
  float: right;
  margin-right: 20px;
}
.footer-logo a img{
  margin: 10px;
  margin-bottom: -10px;
}
.ft_etc{
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  height: 104px;
}
.ft_etc a{
  display: block;
  position: absolute;
  top: 74px;
  width: 30px;
  height: 30px;
}
.header_right li:first-child{
  padding-right: 20px;
  border-right: 1px solid  #e5e5e5;
}
.header_right button{
  border: 0;
}
