
.login-wrap {
    position: relative;
    padding: 65px 0 0 0;
    background-color: #f5f5f5;
    min-height: 100%;
    overflow: hidden;
}
.login-box{
    z-index: 20;
    padding: auto;
    width: 500px;
    height: 650px;

    margin : 60px auto;
    overflow: hidden;
    background-color: #ffffff;
}
.lgin-box a{
    text-decoration: none;
}
.content{
    height: 250px;
    margin-bottom: 50px;
}
#header,
.container {
    margin:0 0 0px;
    width:500px;

}
#header,#header a {
    position: center;
    box-sizing: border-box;
    height: 140px;
    padding: 30px 0 0;
    color: #244CBA;
}
#header .h_logo {
    line-height: 999px;
    display: block;
    overflow: hidden;
    width: 240px;
    height: 44px;
    margin: 0 auto;
    background-position: -1px -1px;
}
.login-wrap h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#header.logo{
    overflow: hidden;
    width: 240px;
    height: 44px;
    margin: 0 auto;
    background-position: -1px -1px;
    text-align: center;
}
.container input{
    width:435px;
    height:46px;
    line-height:46px;
    border-radius:6px;
    background-color:#fff;
    border: solid 1px #e5e5e5;
    font-size:16px;
    letter-spacing:-0.3px;
    font-family:'NanumSquare';
    color:#23212a;
    padding-left:10px;
    box-sizing:inherit;
    margin: auto;
    margin-bottom: -10px;
}
.content p{
    color: red;
}
.container td{
    align-content: center;
    padding-bottom: 20px;
}
.content table{
    border-top:2px solid #23212a;
    margin-top: -10px;
    margin-bottom: 20px;

}
.submit input{
    background-color: #244CBA;
    color: white;
    font-size: large;
    letter-spacing: 3px;
    border-radius: 40px;

}
.content .checking{
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;
    color: crimson;
}
.submit{

    height: 100px;
}
.content table:last-child > td{
    vertical-align: center;
}
input[type='checkbox']{

    margin: 0; padding: 0;
    width:22px; height:22px; margin-right:8px;
    font-size: 13px;
    color: #23212a; font-family: 'NanumSquare';
}
